/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  color: #0b132a;
  background: #f6f6f6;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.subtitle {
  margin-top: 20px;
  line-height: 30px;
  color: #4F5665;
}

strong {
  font-weight: 500;
  color: #0b132a;
}

.header {
  margin-top: 50px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  fill: #F53838;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.logo__text {
  font-size: 20px;
  font-weight: 500;
}

.logo__text_strong {
  font-weight: 700;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4F5665;
}

.menu__item {
  margin-right: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__item:hover {
  color: #F53838;
}

.sign {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__title_in {
  margin-right: 75px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sign__title_in:hover {
  color: #F53838;
}

.sign__title_up {
  border: 1px solid #F53838;
  color: #F53838;
  border-radius: 50px;
  padding: 13px 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sign__title_up:hover {
  background: #F53838;
  color: #ffffff;
}

.start {
  margin-top: 100px;
}

.info__title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 70px;
}

.info__title_strong {
  font-weight: 700;
}

.info__button {
  width: 250px;
  height: 60px;
  background: #F53838;
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 50px;
}

.info__button:hover {
  color: #83033f;
  -webkit-box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
          box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
}

.about {
  margin-top: 100px;
  min-height: 200px;
  background: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__icon {
  width: 55px;
  height: 55px;
  margin-right: 35px;
}

.about__info {
  line-height: 30px;
}

.about__info_caption {
  font-weight: bold;
  font-size: 25px;
}

.about__info_item {
  font-size: 20px;
  color: #4F5665;
}

.about__line {
  height: 125px;
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__content {
  padding-left: 130px;
  margin-top: 40px;
}

@media (max-width: 576px) {
  .features__content {
    padding: 0;
  }
}

.features__advantages {
  margin-top: 20px;
}

.features__advantages_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.features__advantages_icon {
  width: 22px;
  height: 24px;
  margin-right: 12px;
}

.features__advantages_text {
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}

.plan {
  margin-top: 200px;
  text-align: center;
}

.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.plan__subtitle {
  color: #4F5665;
  line-height: 30px;
  margin-top: 20px;
}

.plan__blocks {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .plan__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.plan__blocks_item {
  min-width: 330px;
  min-height: 760px;
  background: #ffffff;
  padding: 50px 75px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  .plan__blocks_item {
    min-width: 230px;
    min-height: 660px;
  }
}

.plan__blocks_item:hover {
  border: 2px solid #F53838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

.plan__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.plan__desc_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__desc_icon {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

.plan__desc_text {
  font-size: 14px;
  line-height: 30px;
}

.plan__price {
  position: absolute;
  bottom: 50px;
}

.plan__price_value {
  color: #4F5665;
  font-size: 25px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  bottom: 10px;
}

.plan__price_button {
  width: 180px;
  height: 45px;
  border: 2px solid #F53838;
  border-radius: 50px;
  cursor: pointer;
  background: #ffffff;
  font-weight: bold;
  color: #F53838;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.plan__price_button:hover {
  background: #F53838;
  color: #ffffff;
}

.network {
  margin-top: 150px;
  text-align: center;
}

.network__map {
  margin-top: 150px;
}

.network__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

@media (max-width: 576px) {
  .network__sponsor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
}

.reviews {
  margin-top: 120px;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.slider__block {
  background: #ffffff;
  max-width: 350px;
  min-height: 290px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px 35px;
  text-align: left;
}

.slider__block:hover {
  border: 2px solid #F53838;
  cursor: pointer;
}

.slider__block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__block_text {
  line-height: 30px;
  margin-top: 20px;
}

.slider__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__author_info {
  margin-left: 20px;
}

.slider__author_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.slider__author_location {
  font-size: 14px;
  color: #4F5665;
}

.slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__rating_icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.slider__arrows {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

.slider__arrows_left {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
}

.slider__arrows_right {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.slick-list {
  overflow: hidden;
}

.slick-slide {
  overflow: visible;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subscribe {
  background: #ffffff;
  min-height: 233px;
  padding: 58px 70px;
  margin-top: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__button {
  width: 250px;
  height: 60px;
  background: #F53838;
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.subscribe__button:hover {
  color: #83033f;
  -webkit-box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
          box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
}

.footer {
  background: #e7e7e7;
  margin-top: -115px;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 185px;
}

.footer__socials {
  margin-left: -20px;
}

.footer__socials_icon {
  width: 52px;
  height: 40px;
  margin-top: 30px;
  cursor: pointer;
}

.footer__copyright {
  color: #afb5c0;
  margin-top: 30px;
}

.footer__menu {
  margin-bottom: 100px;
}

.footer__menu_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer__menu_item {
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__menu_item:hover {
  color: #F53838;
}
/*# sourceMappingURL=styles.css.map */