@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  color: #0b132a;
  background: #f6f6f6;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.subtitle {
  margin-top: 20px;
  line-height: 30px;
  color: $grey;
}

strong {
  font-weight: 500;
  color: #0b132a;
}
