.about {
  margin-top: 100px;
  min-height: 200px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;

  &__icon {
    width: 55px;
    height: 55px;
    margin-right: 35px;
  }

  &__info {
    line-height: 30px;

    &_caption {
      font-weight: bold;
      font-size: 25px;
    }

    &_item {
      font-size: 20px;
      color: #4f5665;
    }
  }

  &__line {
      height: 125px;
      border-left: 2px solid #EEEFF2;
      border-right: 2px solid #EEEFF2;
      align-items: center;
  }
}
