.about {
  margin-top: 100px;
  min-height: 200px;
  background: $white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 20px 30px -15px rgba(13, 16, 37, 0.06);

  
  &__icon {
    width: 55px;
    height: 55px;
    margin-right: 35px;
  }

  &__info {
    line-height: 30px;

    &_caption {
      font-weight: bold;
      font-size: 25px;
    }

    &_item {
      font-size: 20px;
      color: $grey;
    }
  }

  &__line {
    height: 125px;
    border-left: 2px solid #eeeff2;
    border-right: 2px solid #eeeff2;
    align-items: center;
  }
}
