.features {
  margin-top: 95px;
  display: flex;

  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    }

  &__content {
    padding-left: 130px;
    margin-top: 40px;

    @media (max-width: 576px) {
      padding: 0;
      }
  }

  &__advantages {
    margin-top: 20px;

    &_item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &_icon {
      width: 22px;
      height: 24px;
      margin-right: 12px;
    }

    &_text {
      font-size: 14px;
      line-height: 30px;
      color: $grey;
    }
  }
}
