.header {
  margin-top: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;

  &__icon {
    fill: $red;
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;

    &_strong {
      font-weight: 700;
    }
  }
}

.menu {
  display: flex;
  color: $grey;

  &__item {
    margin-right: 40px;
    transition: 0.5s;

    &:hover {
      color: $red;
    }
  }
}

.sign {
  font-weight: 500;
  display: flex;
  align-items: center;

  &__title_in {
    margin-right: 75px;
    transition: 0.5s;

    &:hover {
      color: $red;
    }
  }

  &__title_up {
    border: 1px solid $red;
    color: $red;
    border-radius: 50px;
    padding: 13px 45px;
    transition: 0.5s;

      &:hover {
        background: $red;
        color: $white;
      }
    }
  }

