.start {
  margin-top: 100px;
}

.info {
  &__title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 70px;

    &_strong {
      font-weight: 700;
    }
  }

  &__button {
    width: 250px;
    height: 60px;
    background: $red;
    border-radius: 10px;
    font-weight: 700;
    color: $white;
    transition: 0.5s;
    margin-top: 50px;

    &:hover {
      color: #83033f;
      box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
    }
  }
}
