.subscribe {
  background: $white;
  min-height: 233px;
  padding: 58px 70px;
  margin-top: 65px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  &__button {
    width: 250px;
    height: 60px;
    background: $red;
    border-radius: 10px;
    font-weight: 700;
    color: $white;
    transition: 0.5s;

    &:hover {
      color: #83033f;
      box-shadow: 0px 20px 30px -15px rgba(245, 56, 56, 0.35);
    }
  }
}
